{% extends "base.html" %}
{% block title %}Welcome to Blue and White's Madlib!{% endblock %}
{% block content %}

<div class="intro">

    <div class="hero-wrapper">
        <img 
            src="{{ url_for('static', filename='meow.png') }}" 
            class="intropic"
        >

        <a href="{{ url_for('enterpage') }}" class="start-overlay">
            start
        </a>
    </div>

    <img src="{{ url_for('static', filename='rose.png') }}" class="floral rose">
    <img src="{{ url_for('static', filename='heartenvelope.png') }}" class="floral heartenvelope">

    <div class="credits"> Written by Arim Lee and Iris Eisenman. Illustrations by Ines Alto, Web Design by Michelle Lee </div>

</div>

{% endblock %}

    <!--

    <img 
        src="{{ url_for('static', filename='floral-left.png') }}" 
        alt="" 
        class="floral floral-left"
    >


    <div class="intro-welcome">
        Welcome to Blue and White's 
        <br> Valentine Madlib
    </div>

    <div class="intro-description">
        Written by Arim Lee and Iris Eisenman (Designed by Michelle Lee)
    </div>

    <a href="{{ url_for('enterpage') }}" class="start-button">
        Start
    </a>

    <img 
        src="{{ url_for('static', filename='floral-right.png') }}" 
        alt="" 
        class="floral floral-right"
    >

    -->